body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dvCentro{
    width:90%;
    height: 500px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    position: relative; 
}

#dvConteudo{
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 130px;
}

#dvConteudo h2{
    padding:0px 25px;
}

#dvConteudo button{
    width: 170px;
    height: 30px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 30px;
    transition: all 0.5s;
}

#dvConteudo button:hover{
    background: black;
    color: white;
    border: 1px solid white;
    transition: all 0.5s;    
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}


